{# templates/security/reset_password.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Réinitialiser le mot de passe{% endblock %}

{% block main %}
<section class="reset-password-section">
  <div class="reset-password-form-container">
    <h3 class="reset-password-title">Réinitialiser votre mot de passe</h3>
      <br><br>
    {% for message in app.flashes('danger') %}
      <div class="flash-error">{{ message }}</div>
    {% endfor %}
    {% for message in app.flashes('success') %}
      <div class="flash-success">{{ message }}</div>
    {% endfor %}

    {{ form_start(resetForm) }}
      {{ form_row(resetForm.plainPassword) }}
      <button class="btn btn-primary">Réinitialiser</button>
    {{ form_end(resetForm) }}
  </div>
</section>
{% endblock %}
