{% extends 'base.html.twig' %}

{% block title %}Modifier un type de motorisation{% endblock %}

{% block main %}
<section class="motorisation-type-edit-section">
  <div class="motorisation-type-edit-form-container">
    <h2 class="motorisation-type-edit-title">Modifier un type de motorisation</h2>

    {% if is_granted('ROLE_ADMIN') %}
      <div class="form-container">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn-editmotorisation">{{ button_label|default('Mettre à jour') }}</button>
        {{ form_end(form) }}
      </div>

    {% else %}
      <p class="warning-text">⚠️ Vous n'avez pas l'autorisation de modifier ce type de motorisation.</p>
    {% endif %}

    <div class="back-link">
      <a href="{{ path('app_motorisation_type_index') }}" class="btn-backmotorisation">
        <i class="fas fa-arrow-left"></i> Retour à la liste
      </a>
    </div>
  </div>
</section>
{% endblock %}
