{% extends 'base.html.twig' %}

{% block title %}Types de Motorisation{% endblock %}

{% block main %}
  <section class="motorisation-type-index">
    <h1>Les Types de Motorisation</h1>

    {% if is_granted('ROLE_ADMIN') %}
      <div class="btn-wrapper">
        <a href="{{ path('app_motorisation_type_new') }}" class="create-btnmotorisation">
          <i class="fas fa-plus"></i> Créer un nouveau type
        </a>
      </div>
    {% endif %}

    <table class="table">
      <thead>
        <tr>
          <th>Nom</th>
          {% if is_granted('ROLE_ADMIN') %}
            <th>Actions</th>
          {% endif %}
        </tr>
      </thead>
      <tbody>
        {% for motorisation_type in motorisation_types %}
          <tr>
            <td>{{ motorisation_type.nom }}</td>
            {% if is_granted('ROLE_ADMIN') %}
              <td>
                <div class="actions">
                  <a href="{{ path('app_motorisation_type_show', {'id': motorisation_type.id}) }}" class="btn-view">
                    <i class="fas fa-eye"></i> Voir
                  </a>
                  <a href="{{ path('app_motorisation_type_edit', {'id': motorisation_type.id}) }}" class="btn-edit">
                    <i class="fas fa-edit"></i> Modifier
                  </a>
                  {{ include('motorisation_type/_delete_form.html.twig') }}
                </div>
              </td>
            {% endif %}
          </tr>
        {% else %}
          <tr>
            <td colspan="2" class="no-records">Aucun type de motorisation trouvé.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
{% endblock %}
