{% extends 'base.html.twig' %}

{% block title %}Car index{% endblock %}

{% block main %}
    <h1>Car index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Marque</th>
                <th>Modele</th>
                <th>Annee</th>
                <th>Actions</th>
            </tr>
        </thead>
        <body>
        {% for car in cars %}
            <tr>
                <td>{{ car.id }}</td>
                <td>{{ car.marque }}</td>
                <td>{{ car.modele }}</td>
                <td>{{ car.annee }}</td>
                <td>
                    <a href="{{ path('app_car_show', {'id': car.id}) }}">Show</a>
                    
                    {# Afficher le bouton Edit si l'utilisateur connecté est le créateur ou un admin #}
                    {% if app.user and (car.user == app.user or is_granted('ROLE_ADMIN')) %}
                        <a href="{{ path('app_car_edit', {'id': car.id}) }}">Edit</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">No records found</td>
            </tr>
        {% endfor %}
        </body>
    </table>

    {# Afficher le bouton Create New seulement si l'utilisateur est connecté #}
    {% if app.user %}
        <a href="{{ path('app_car_new') }}">Create new</a>
    {% endif %}
{% endblock %}
